<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>DATE</th>
      <th>CUSTOMER ID</th>
      <th>DETAILS</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let facture of factures._embedded.bills">
      <td>{{facture.id}}</td>
      <td>{{facture.billDate|date:'dd/MM/yyyy'}}</td>
      <td>{{facture.customerId}}</td>
      <td>
        <button class="btn btn-success" (click)="getOrderDetails(facture)">
        Order Details
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>



